{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    
{% endblock %}

{% block pageTitle %}Calendar Appointments{% endblock %}

{% block main %}
	<div class="row">
        <div class="col-md-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Appointment Calendar {{ date|date('Y-m-d H:i:s')}}
                </div>
                <div class="panel-body">
             		<ul class="nav nav-tabs">
             			<li role="presentation" ><a href='#resumen' data-toggle="tab">Resumen</a></li>
						{% for key, sala in salas %}
							{% if loop.first %}
								<li role="presentation" class="active"><a href='#{{sala['id']}}' data-toggle="tab">{{key}}</a></li>
							{% else %}
								<li role="presentation"><a href='#{{sala['id']}}' data-toggle="tab">{{key}}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
					<div class="tab-content">
						<div class="tab-pane fade active in" id="resumen">
						    <table class="table">
					            <thead>
					                <tr>
					                	<th><center>Hora</center></th>
					                	<th><center>sala 1</center></th>
					                	<th><center>sala_2</center></th>
					                </tr>
					            </thead>
					            <tbody id="tabla">
					            	{% for h in horario %}
						            	<tr>
						            		<td><center>{{ h }}</center></td>
	                        				<td><a href=""><center>&nbsp;</center></a></td>
	                        				<td><a href=""><center>&nbsp;</center></a></td>
	                        			</tr>
                        			{% endfor %}
					            </tbody>
					        </table>
						</div>
						{% for key, sala in salas %}
							<div class="tab-pane fade active in" id="{{sala['id']}}">
							    <table class="table table-hover">
						            <thead>
						                <tr>
						                	<th><center>Hora</center></th>
						                	<th><center>Lunes</center></th>
						                	<th><center>Martes</center></th>
						                	<th><center>Miércoles</center></th>
						                	<th><center>Jueves</center></th>
						                	<th><center>Viernes</center></th>
						                	<th><center>Sábado</center></th>
						                	<th><center>Domingo</center></th>
						                </tr>
						            </thead>
						            <tbody id="tabla">
						            	
							            	{% for h in horario %}
								            	<tr>
								            		<td><center>{{ h }}</center></td>
			                        				<td>
			                        					{% if sala['semana']['Martes'][h]['idCita'] %}
							                                <a href=""><center>{{ sala['semana']['Lunes'][h]['nombreCita'] }}</a></center>
							                            {% else %}
							                                {# <a href=""><center>&nbsp;</center></a> #}
							                                <a href="{{ path('appointment_new',{'fecha': sala['semana']['fechaLunes'], 'hora': sala['semana']['Lunes'][h]['horaCita']}) }}"><center>&nbsp;</center></a>
							                            {% endif %}
			                        				</td>
			                        				<td>
			                        					{% if sala['semana']['Martes'][h]['idCita'] %}
							                                <a href=""><center>{{ sala['semana']['Martes'][h]['nombreCita'] }}</a></center>
							                            {% else %}
							                                <a href=""><center>&nbsp;</center></a>
							                            {% endif %}
							                        </td>
			                        				<td>
			                        					{% if sala['semana']['Miercoles'][h]['idCita'] %}
							                                <a href=""><center>{{ sala['semana']['Miercoles'][h]['nombreCita'] }}</a></center>
							                            {% else %}
							                                <a href=""><center>&nbsp;</center></a>
							                            {% endif %}
							                        </td>
			                        				<td>
			                        					{% if sala['semana']['Jueves'][h]['idCita'] %}
							                                <a href=""><center>{{ sala['semana']['Jueves'][h]['nombreCita'] }}</a></center>
							                            {% else %}
							                                <a href=""><center>&nbsp;</center></a>
							                            {% endif %}
							                        </td>
			                        				<td>
			                        					{% if sala['semana']['Viernes'][h]['idCita'] %}
							                                <a href=""><center>{{ sala['semana']['Viernes'][h]['nombreCita'] }}</a></center>
							                            {% else %}
							                                <a href=""><center>&nbsp;</center></a>
							                            {% endif %}
							                        </td>
			                        				<td>
			                        					{% if sala['semana']['Sabado'][h]['idCita'] %}
							                                <a href=""><center>{{ sala['semana']['Sabado'][h]['nombreCita'] }}</a></center>
							                            {% else %}
							                                <a href=""><center>&nbsp;</center></a>
							                            {% endif %}
							                        </td>
			                        				<td>
			                        					{% if sala['semana']['Domingo'][h]['idCita'] %}
							                                <a href=""><center>{{ sala['semana']['Domingo'][h]['nombreCita'] }}</a></center>
							                            {% else %}
							                                <a href=""><center>&nbsp;</center></a>
							                            {% endif %}
							                        </td>
			                        			</tr>
		                        			{% endfor %}
						            </tbody>
						        </table>
							</div>
						{% endfor %}
                    </div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}